html  {
    font-family: 'Lato', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 460px;
}

.container-history {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.aqi-container {
    border: 3px solid;
    border-radius: 10px;
    width: 180px;
    float: left;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

.log-box {
    border: 3px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.log-text {
    white-space: pre-line;
}

.log-info-text {
    text-align: center;
    margin-top: 10px;
}

.log-back-forward {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.nova {
    font-size: 5em;
    font-weight: bold;
}

.aqi {
    font-size: 3em;
    font-weight: bold;
}

.pm-label {
    font-style: italic;
}

.time, .link {
    text-align: center;
    margin: 6px;
}

table {
    border: 2px solid #097;
}

table thead tr {
    background-color: #097;
    color: #fff;
}

table th, table td {
    padding: 4px 4px;
    text-align: center;
}

table tbody tr:nth-of-type(even) {
    background-color: #ddd;
}

table tbody tr:hover {
    color: #fff;
    background-color: #097;
}

h1, h2 {
    text-align: center;
}
